*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 90px 20px 0; /* crea el espacio entre el encabezado fijo y el cuerpo de la pag */
}

.header{
    background: rgb(7, 99, 140);
    height: 80px; /* Alto */
    position: fixed; /* mantener fijo el encabezado cuando haga el scroll */
    width: 100%; /* ancho */
    top: 0; 
    left: 0;
}
.nav{
    display: flex; /* pone la barra de navegación de forma horizontal */
    justify-content: space-between; /* justifica a un elemento a la derecha (logo) y el otro a la izquierda (barra de navegacion) */
    max-width: 992px;
    margin: 0 auto;
}
.nav-menu-link{
    color: white;
    text-decoration: none;
}

img{
        width: 250px;
        height: 80px;
        line-height: 80px;
      }

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    color: white;
    line-height: 80px; /* esto es para que quede centrado y el valor debe ser igual al de alto del header */ 
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase; /* para que todo quede en mayúscula */
    width: max-content; /* cuando la linea tiene más de una palabra no cortar el contenido en una segunda línea */ 
}
.nav-menu-link{
    padding: 8px 12px; /* padding arriba y abajo es el primero luego a los lados */
    border-radius: 5px; /*crea el efecto de borde redondeado*/
} 

.nav-menu-link:hover{
    background-color: rgb(0, 65, 115);
    transition: 0.5s; 
}





.titulo {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
     color: black;
 }
 .title__header {
     position: absolute;
     top: 30%;
     left: 20%;
     color: white;
     font-size: 5rem;
   }
   
   .container {
    display: flex;
    justify-content: center;
     width: 90%;
     margin: 0 auto;
     margin-top: 50px;
     padding: 10PX 0px 30px;
   }
   
   .card {
     display: inline-block;
     width: 30%;
     box-shadow: 10px 8px 8px -4px rgba(0, 0, 0, 0.42);
     text-align: center;
     border: 1px solid #eceff1;
     border-radius: 3px;
     margin: 0 20px;
   }
   
   .img__card {
     width: 100%;
     height: 300px;
     object-fit: cover;
   }
   
   .title__card {
     margin: 15px 0;
   }
   
   .text__card {
     padding: 20px 40px;
     text-align: justify;
   }

/* :::::::::::::::::PIE DE PAGINA::::::::::::::::::: */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
.pie-pagina{
    width: 100%;
    background-color: rgb(7, 99, 140);

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 10px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 15px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color:rgb(0, 65, 115);
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color:  rgb(0, 65, 115);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
/* .logo-qsomos{
    display: flex;
    position: absolute;
    padding: 5px 10px;
}
aside{
    align-items: flex-end;
} */


/* ::::::::::::::::::::::::::FORMULARIO PARA CLIENTES:::::::::::::::::::::::::::::::::::::::::: */

.form_registro{
    width: 400px;
    background:rgb(0, 65, 115);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.form_registro h4 {
    font-size: 22px;
    margin-bottom: 20px;
    color: white;
}

.controles{
    width: 100%;
    background: #1d70c4;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form_registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    color: white;
    line-height: 40px;
}

.form_registro a{
    color: white;
    text-decoration: none;
}
.form_registro a:hover{
    color: white;
    text-decoration: underline;
}
.form_registro .bottons{
    width: 100%;
    background: #1d70c4;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
.bodyform{
    background: linear-gradient(blue white);
}